# General node_modules
**/node_modules/

# Environment variables
**/*.env*

# Log files
**/logs/
**/*.log

# MacOS specific
**/.DS_Store

# Misc
*.pem

# Build and output directories
server/build/
client/.next/
client/out/

# Editor directories and files
.vscode/
.idea/

# typescript
**/*.tsbuildinfo
**/next-env.d.ts